<tui-root>

<div class="body-header">
  <app-header>

  </app-header>
</div>

<router-outlet></router-outlet>



<!--<div cdkDropListGroup>-->
<!--  <div class="example-container">-->
<!--    <h2>To do</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="todo"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      @for (item of todo; track item) {-->
<!--      <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <h2>Done</h2>-->
<!--  -->
<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="container[0].main.listData"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      @for (item of done; track item) {-->
<!--      <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div cdkDropListGroup>-->

<!--@for (cont of container; track $index) {-->
<!--  <div class="example-container">-->
<!--    <h2>{{cont.name}}</h2>-->
<!--    <div-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="cont.main.listData"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      @for (item of cont.main.listData; track item) {-->
<!--        <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--</div>-->
<!--}-->
<!--</div>-->

</tui-root>